<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <title>呆恋小喵</title>
    <link rel="stylesheet/less" href="{{ site.baseurl }}/assets/style/style.less" />
</head>
<body>
<nav class="c-fix">
    <a href="javascript:;" class="js_menu_btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <ul class="c-hidden js_menu">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/views/posts">Posts</a></li>
        <li><a href="{{ site.baseurl }}/views/about">About</a></li>
    </ul>
</nav>
{{ content }}
<script src="https://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
<script src="https://cdn.bootcss.com/less.js/1.7.0/less.min.js"></script>
<script src="{{ site.baseurl }}/assets/script/main.js"></script>
</body>
</html>
