<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="前端开发" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <title>呆恋小喵的后花园 - 关于我</title>
    <link rel="shortcut icon" href="http://oij8a9ql4.bkt.clouddn.com/shortcut.ico" />
    <link rel="stylesheet" href="https://cdn.bootcss.com/highlight.js/8.0/styles/sunburst.min.css" />
    <link rel="stylesheet/less" href="/garden/assets/style/style.less" />
    <script src="https://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script src="https://cdn.bootcss.com/less.js/1.7.0/less.min.js"></script>
    <script src="https://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
</head>
<body>
<script>
    var pageData = {};
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement('script');
        hm.src = 'https://hm.baidu.com/hm.js?6b9830e6ab8073ce1a44ad49a03d8596';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
<img src="http://oij8a9ql4.bkt.clouddn.com/portrait.jpg" alt="呆恋小喵" width="0" height="0" />
<nav>
    <a href="javascript:;" class="js_menu_btn">
        <span></span>
        <span></span>
        <span></span>
    </a>
    <ul class="c-hidden js_menu">
        <li><a href="/garden/">Home</a></li>
        <li><a href="/garden/views/posts">Posts</a></li>
        <li><a href="/garden/views/about">About</a></li>
    </ul>
</nav>
<a href="javascript:;" class="gotop js_gotop"></a>
<section class="about">
    <svg viewBox="0 0 1186.4 662.8">
        <g class="ab-table">
            <path id="ab-path1" d="M1172,626.1H18.4c-2.7,0-5-1.1-5-2.5v-14.3c0-1.4,2.2-2.5,5-2.5H1172c2.7,0,5,1.1,5,2.5v14.3C1177,625,1174.8,626.1,1172,626.1z" />
        </g>
        <g class="ab-computer">
            <circle cx="593.8" cy="280.6" r="1.3" />
            <path id="ab-path2" d="M768.1,556.4H419.5c-6.8,0-12.3-5.3-12.3-11.8V285.1c0-6.5,5.5-11.8,12.3-11.8h348.5c6.8,0,12.3,5.3,12.3,11.8v259.4C780.4,551.1,774.9,556.4,768.1,556.4z" />
            <path id="ab-path3" d="M770.8,510.3H413c-3.2,0-5.8-2.6-5.8-5.8V284.2c0-6.1,4.9-11,11-11h350.6c6.4,0,11.7,5.2,11.7,11.7v215.8C780.4,506,776.1,510.3,770.8,510.3z" />
            <path id="ab-path4" d="M544.1,575.1l-25.4,20.3c-1.3,1.1-0.6,3.3,1.2,3.3l145.5-0.4c1.1,0,1.6-1.3,0.8-2l-23.8-21.2H544.1z" />
            <path id="ab-path5" d="M763.9,555.4H422.6c-10.5,1-14.1-5.4-14.2-8.6l0,0c1.4,0.4,2.9,0.6,4.4,0.6l358.8,1.6c2.5,0,4.9-0.4,7.2-1.3l0,0C777.7,551.1,775.2,556.4,763.9,555.4z" />
            <path id="ab-path6" d="M593.3,525.8c0.6,0,1.4,0.1,2.2,0.4c0.9,0.3,1.5,0.4,1.7,0.4c0.4,0,1-0.1,1.8-0.4c0.8-0.3,1.6-0.4,2.2-0.4c1,0,1.9,0.3,2.7,0.8c0.4,0.3,0.9,0.7,1.3,1.3c-0.7,0.6-1.1,1.1-1.4,1.5c-0.5,0.8-0.8,1.7-0.8,2.6c0,1,0.3,2,0.9,2.8c0.6,0.8,1.2,1.4,2,1.6c-0.3,1-0.8,2.1-1.5,3.2c-1.1,1.6-2.2,2.5-3.2,2.5c-0.4,0-1-0.1-1.8-0.4c-0.7-0.3-1.4-0.4-1.9-0.4c-0.5,0-1.1,0.1-1.8,0.4c-0.7,0.3-1.2,0.4-1.7,0.4c-1.3,0-2.5-1.1-3.8-3.3c-1.2-2.2-1.9-4.3-1.9-6.3c0-1.9,0.5-3.5,1.4-4.7C590.6,526.4,591.8,525.8,593.3,525.8L593.3,525.8z" />
            <path id="ab-path7" d="M601,521c0,0.1,0.1,0.2,0.1,0.3c0,0.1,0,0.2,0,0.2c0,0.5-0.1,1.1-0.4,1.7c-0.2,0.6-0.6,1.2-1.2,1.7c-0.5,0.5-0.9,0.8-1.4,0.9c-0.3,0.1-0.7,0.2-1.3,0.2c0-1.2,0.3-2.3,1-3.2C598.5,521.9,599.6,521.3,601,521L601,521z" />
            <path id="ab-path21" fill="#ffe5be" d="M423.3,286.1h341v211.3h-341v-211.3" />
            <path id="ab-path22" d="M548.7,548.3L544.4,575.1L643.1,575.1L637.8,548.3" />
        </g>
        <g class="ab-keyboard">
            <path id="ab-path8" d="M692.9,606.8H363.5V602c0-4,3.2-7.2,7.2-7.2h315c4,0,7.3,3.3,7.3,7.3V606.8z" />
            <path id="ab-path9" d="M397.1,593.9h-19.3v-2.1c0-0.6,1-1.2,2.3-1.2h14.6c1.3,0,2.4,0.5,2.4,1.2V593.9z" />
            <path id="ab-path10" d="M419.9,593.9h-19.3v-2.1c0-0.6,1-1.2,2.3-1.2h14.6c1.3,0,2.4,0.5,2.4,1.2V593.9z" />
            <path id="ab-path11" d="M443.1,593.9h-19.3v-2.1c0-0.6,1-1.2,2.3-1.2h14.6c1.3,0,2.4,0.5,2.4,1.2V593.9z" />
            <path id="ab-path12" d="M466.3,593.9H447v-2.1c0-0.6,1-1.2,2.3-1.2h14.6c1.3,0,2.4,0.5,2.4,1.2V593.9z" />
            <path id="ab-path13" d="M610.7,593.9h-19.3v-2.1c0-0.6,1-1.2,2.3-1.2h14.6c1.3,0,2.4,0.5,2.4,1.2V593.9z" />
            <path id="ab-path14" d="M633.5,593.9h-19.3v-2.1c0-0.6,1-1.2,2.3-1.2h14.6c1.3,0,2.4,0.5,2.4,1.2V593.9z" />
            <path id="ab-path15" d="M656.7,593.9h-19.3v-2.1c0-0.6,1-1.2,2.3-1.2h14.6c1.3,0,2.4,0.5,2.4,1.2V593.9z" />
            <path id="ab-path16" d="M679.9,593.9h-19.3v-2.1c0-0.6,1-1.2,2.3-1.2h14.6c1.3,0,2.4,0.5,2.4,1.2V593.9z" />
            <path id="ab-path17" d="M490.1,593.9h-19.3v-2.1c0-0.6,1-1.2,2.3-1.2h14.6c1.3,0,2.4,0.5,2.4,1.2V593.9z" />
            <path id="ab-path18" d="M587.1,594h-93.6v-2.1c0-0.7,5-1.2,11.2-1.2h70.9c6.3,0,11.5,0.5,11.5,1.2V594z" />
        </g>
        <g class="ab-mouse">
            <path id="ab-path19" d="M724.1,606.7c0,0,0-8.6,12.9-14.3c8.7-3.9,18.7-4,27.5-0.6c6.8,2.6,13.7,7.2,13.7,15L724.1,606.7z" />
            <path id="ab-path20" d="M764.5,592.5c-3.9-1.4-9-2.6-13.3-2.4v15.7l26.1,0.1C777.2,601.6,773,595.6,764.5,592.5z" />
        </g>
        <image x="424.3" y="287.1" width="339" height="209.3" xlink:href="http://oij8a9ql4.bkt.clouddn.com/sunmy.jpg" />
        <!--<animate xlink:href="#ab-path1" attributeName="stroke-dashoffset" from="2500" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path2" attributeName="stroke-dashoffset" from="2000" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path3" attributeName="stroke-dashoffset" from="1500" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path4" attributeName="stroke-dashoffset" from="500" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path5" attributeName="stroke-dashoffset" from="1000" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path6" attributeName="stroke-dashoffset" from="80" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path7" attributeName="stroke-dashoffset" from="20" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path8" attributeName="stroke-dashoffset" from="1000" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path9" attributeName="stroke-dashoffset" from="50" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path10" attributeName="stroke-dashoffset" from="50" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path11" attributeName="stroke-dashoffset" from="50" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path12" attributeName="stroke-dashoffset" from="50" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path13" attributeName="stroke-dashoffset" from="50" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path14" attributeName="stroke-dashoffset" from="50" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path15" attributeName="stroke-dashoffset" from="50" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path16" attributeName="stroke-dashoffset" from="50" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path17" attributeName="stroke-dashoffset" from="50" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path18" attributeName="stroke-dashoffset" from="200" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path19" attributeName="stroke-dashoffset" from="200" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path20" attributeName="stroke-dashoffset" from="200" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path21" attributeName="stroke-dashoffset" from="1500" to="0" dur="4s" />-->
        <!--<animate xlink:href="#ab-path22" attributeName="stroke-dashoffset" from="500" to="0" dur="4s" />-->
    </svg>
    <div>
        <h1>呆恋小喵</h1>
        <p>本人女，前端打酱油一枚。2015 年毕业于中国传媒大学数字媒体技术专业。爱好：逛街、淘宝、学习；专长：数学、绘画、卖萌。</p>
        <ul>
            <li>QQ：493108053</li>
            <li>Email：sunmy_meow@sina.com</li>
            <li>Github：<a href="https://github.com/sunmengyuan" title="呆恋小喵的 github">https://github.com/sunmengyuan</a></li>
        </ul>
    </div>
</section>

<script src="/garden/assets/script/main.js"></script>
</body>
</html>
